#upload_form {
    display:none;
}
#upload_form form {
    display:inline-block;
    border: 1px solid gray;
    padding:10px;
    margin:10px;
    margin-top:0px;
}
#f1_upload_process{
    display:none;
}
.tab-header {
    position:relative;
    display:inline-block;
    border:1px solid gray;
    background-color:#eee;
    padding-top:3px;
    padding-right:8px;
    padding-left:8px;
    padding-bottom:2px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -moz-border-top-left-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    z-index:100;
}
.tab-header:hover {
    cursor:pointer;cursor:hand;
}
.tab-header.selected {
    background-color:white;
    border-bottom: 1px solid white;
    font-weight: bold;
}
.tab {
    border-radius: 4px;
    border-top-left-radius: 0px;
    -moz-border-radius: 4px;
    -moz-border-top-left-radius: 0px;
    -webkit-border-radius: 4px;
    -webkit-border-top-left-radius: 0px;
    position:relative;
    top:-1px;
    border:1px solid gray;
    padding:20px;
    display:none;
    background-color:white;
}
.tab.selected {
    display:block;
}
body {
    background-color:#eee;
}
